@model IEnumerable<BookStore.Models.Domain.Book>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark" href="/Book/Add">Add More</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Add Publisher</h3>
            <table class="table table-striped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Isbn</th>
                        <th>Total Page</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.GeneralName</td>
                            <td>@item.Isbn</td>
                            <td>@item.TotalPages</td>
                            <td>@item.AuthoreName</td>
                            <td>@item.PublisherName</td>
                            <td>
                                <a class="btn btn-success" href="/Book/Update?id=@item.ID">Edit</a>
                                <a class="btn btn-primary" href="/Book/Delete?id=@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>